@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .gradient {
    background-size: 50px 50px;
    background-image: linear-gradient(to right, #e4e4e7 1px, transparent 1px),
                      linear-gradient(to bottom, #e4e4e7 1px, transparent 1px);
  }
  
  /* .dark .gradient {
    background-image: linear-gradient(to right, #262626 1px, transparent 1px),
                      linear-gradient(to bottom, #262626 1px, transparent 1px);
  } */
}

@layer base {
  * {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
  }
}
  
:root {
  --main: #77b900;
  --main-darker: #77b900;;
  --main-lighter: #f6ffe5;
  --overlay: rgba(0, 0, 0, 0.8); /* background color overlay for alert dialogs, modals, etc. */

  --bg: #ffffff;
  --bw: #fff; /* white and secondary black e.g. utility class variant would be: bg-[#fff] dark:bg-[#212121] */
  --blank: #2b2c27; /* blank black and white */
  --border: #2b2c27;
  --text: #2b2c27;
  --mtext: #2b2c27; /* text that is placed on background with main color e.g. text color of default button */
  --ring: #2b2c27;
  --ring-offset: #fff;

  --border-radius: 5px;
  --box-shadow-x: 4px;
  --box-shadow-y: 4px;
  --reverse-box-shadow-x: -4px;
  --reverse-box-shadow-y: -4px;
  --base-font-weight: 500;
  --heading-font-weight: 700;

  --shadow: var(--box-shadow-x) var(--box-shadow-y) 0px 0px var(--border);
}

.dark {
  --bg: #2c312b;
  --bw: #212121;
  --blank: #fff;
  --border: #2c312b;
  --text: #e6e6e6;
  --mtext: #2c312b;
  --ring: #fff;
  --ring-offset: #2c312b;

  --shadow: var(--box-shadow-x) var(--box-shadow-y) 0px 0px var(--border);
}